@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@import '../../../libs/components/styles/theme.css';

@import '../../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css';
@import '../../../node_modules/@fortawesome/fontawesome-free/css/brands.css';
@import '../../../node_modules/@fortawesome/fontawesome-free/css/solid.css';

@custom-variant dark (&:where(.djr-dark, .djr-dark *));

@theme {
  --font-display: 'Nunito', sans-serif;
}

@utility inline-code {
  @apply rounded bg-gray-200 p-0.5 px-1.5 font-mono text-gray-600 not-italic dark:bg-gray-800 dark:text-gray-200;
}

body.djr-dark .shiki,
body.djr-dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

.shiki {
  padding: 2.5rem;
  overflow: auto;
  max-height: 500px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
