<div class="container mx-auto flex h-full flex-col">
  <div class="flex justify-between p-4">
    <a
      djrButton
      href="https://github.com/kkamman/djura"
      [variant]="'text'"
      [label]="'DJURA'"
      [routerLink]="'/'"
    >
    </a>
    <div class="flex gap-4">
      <a
        djrButton
        href="https://github.com/kkamman/djura"
        [variant]="'text'"
        [label]="'GitHub'"
        [icon]="'fa-brands fa-github'"
      >
      </a>
      <button
        djrButton
        [variant]="'text'"
        [icon]="isDarkMode() ? 'fa-solid fa-sun' : 'fa-solid fa-moon'"
        (click)="isDarkMode.set(!isDarkMode())"
      ></button>
    </div>
  </div>
  <div class="flex">
    <nav class="sticky top-0 h-full p-4">
      <ul class="border-r border-r-white pr-4">
        <li>
          <ul>
            <li class="flex justify-end">
              <a
                djrButton
                class="w-full justify-start"
                [routerLink]="'/buttons'"
                routerLinkActive
                #buttonsRla="routerLinkActive"
                [label]="'Buttons'"
                [variant]="'text'"
                [icon]="
                  buttonsRla.isActive
                    ? 'fa-solid fa-circle-check'
                    : 'fa-solid fa-circle'
                "
              ></a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <main class="w-full min-w-0 px-4 pb-4">
      <router-outlet />
    </main>
  </div>
</div>
