<div class="container mx-auto flex h-full flex-col">
  <div class="flex justify-between p-4">
    <a
      djrButton
      class="text-2xl hover:bg-transparent active:bg-transparent"
      href="https://github.com/kkamman/djura"
      [label]="'DJURA'"
      [variant]="'text'"
      [routerLink]="'/'"
    >
    </a>
    <div class="flex items-center gap-4">
      <a
        djrButton
        href="https://github.com/kkamman/djura"
        [label]="'GitHub'"
        [icon]="'fa-brands fa-github'"
      >
      </a>
      <button
        djrButton
        [variant]="'text'"
        [icon]="isDarkMode() ? 'fa-solid fa-sun' : 'fa-solid fa-moon'"
        (click)="isDarkMode.set(!isDarkMode())"
      ></button>
    </div>
  </div>
  <div class="flex">
    <nav class="sticky top-0 h-full w-xs p-4">
      <ul class="border-r border-r-black pr-4 dark:border-r-white">
        <li>
          <ul class="flex flex-col gap-2">
            <li class="flex justify-end">
              <a
                djrButton
                class="w-full justify-start"
                [class.font-bold]="gettingStartedRla.isActive"
                [routerLink]="'/getting-started'"
                routerLinkActive
                #gettingStartedRla="routerLinkActive"
                [label]="'Getting Started'"
                [variant]="gettingStartedRla.isActive ? 'basic' : 'text'"
              ></a>
            </li>
            <li class="flex justify-end">
              <a
                djrButton
                class="w-full justify-start"
                [class.font-bold]="buttonsRla.isActive"
                [routerLink]="'/buttons'"
                routerLinkActive
                #buttonsRla="routerLinkActive"
                [label]="'Buttons'"
                [variant]="buttonsRla.isActive ? 'basic' : 'text'"
              ></a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <main class="w-full min-w-0 px-4 pb-4">
      <router-outlet />
    </main>
  </div>
</div>
