<div class="relative flex flex-col bg-neutral-100 dark:bg-neutral-900">
  <div class="pointer-events-none absolute flex w-full justify-end p-2">
    <button
      djrButton
      class="pointer-events-auto !opacity-50"
      [icon]="isCodeViewActive() ? 'fa-solid fa-file' : 'fa-solid fa-file-code'"
      [variant]="'text'"
      (click)="isCodeViewActive.set(!isCodeViewActive())"
    ></button>
  </div>
  <div class="flex min-h-60 items-center justify-center overflow-x-auto">
    <ng-container *ngComponentOutlet="demo().component" />
  </div>
  @if (isCodeViewActive()) {
    <div class="relative h-full w-full">
      <div class="absolute flex w-full justify-end p-2">
        <button
          djrButton
          class="!min-w-0 !text-xs"
          [class.!opacity-50]="activeCodeView() !== 'html'"
          [label]="'HTML'"
          [variant]="'text'"
          (click)="activeCodeView.set('html')"
        ></button>
        <button
          djrButton
          class="!min-w-0 !text-xs"
          [class.!opacity-50]="activeCodeView() !== 'ts'"
          [label]="'TS'"
          [variant]="'text'"
          (click)="activeCodeView.set('ts')"
        ></button>
      </div>
      @switch (activeCodeView()) {
        @case ('html') {
          <div [innerHTML]="highlightedHtml()"></div>
        }
        @case ('ts') {
          <div [innerHTML]="highlightedTs()"></div>
        }
      }
    </div>
  }
</div>
